// n is number of stars required
@function multiple-box-shadow($n) {
    $value: "#{random(2000)}px #{random(2000)}px #FFF";
    @for $i from 2 through $n {
      $value: "#{$value} , #{random(2000)}px #{random(2000)}px #FFF";
    }
    @return (unquote($value));
  }
  
  $shadows-small: multiple-box-shadow(700);
  $shadows-medium: multiple-box-shadow(200);
  $shadows-big: multiple-box-shadow(100);
  
  .star-effect {
    background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%);
    overflow: hidden;
    min-height: 600px;
    position: relative;
  }
  
  .my-content {
    position: absolute;
  }
  
  #stars {
    width: 1px;
    height: 1px;
    background: transparent;
    box-shadow: $shadows-small;
    animation: animStar 50s linear infinite;
    &:after {
      content: " ";
      position: absolute;
      top: 2000px;
      width: 1px;
      height: 1px;
      background: transparent;
      box-shadow: $shadows-small;
    }
  }
  
  #stars2 {
    width: 2px;
    height: 2px;
    background: transparent;
    box-shadow: $shadows-medium;
    animation: animStar 100s linear infinite;
  
    &:after {
      content: " ";
      position: absolute;
      top: 2000px;
      width: 2px;
      height: 2px;
      background: transparent;
      box-shadow: $shadows-medium;
    }
  }
  
  #stars3 {
    width: 3px;
    height: 3px;
    background: transparent;
    box-shadow: $shadows-big;
    animation: animStar 150s linear infinite;
  
    &:after {
      content: " ";
      position: absolute;
      top: 2000px;
      width: 3px;
      height: 3px;
      background: transparent;
      box-shadow: $shadows-big;
    }
  }
  
  #title {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
  
    color: #fff;
    text-align: center;
    font-family: "lato", sans-serif;
    font-weight: 300;
    font-size: 50px;
    letter-spacing: 10px;
  
    margin-top: -60px;
    padding-left: 10px;
  
    span {
      background: -webkit-linear-gradient(white, #38495a);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }
  
  @keyframes animStar {
    from {
      transform: translateY(0px);
    }
    to {
      transform: translateY(-2000px);
    }
  }
  
  .contact-us {
    padding-left: 25px;
    padding-right: 25px;
    display: flex;
    .contact-left {
      padding: 20px 0px;
      flex: 1;
      position: relative;
      left: 50px;
      .content {
        color: #fff;
        .contact-heading {
          color: #fff;
          margin-bottom: 10px;
          font-size: 35px;
        }
        .contact-option {
          padding: 30px 0px;
          .options {
            font-size: 18px;
            padding: 15px 0px;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            .mobile {
              font-family: normal;
            }
          }
        }
        // width: 340px;
      }
    }
    .contact-right {
      padding: 20px 0px;
      flex: 1;
      z-index: 20;
  
      .my-content {
        .contact-heading {  
          color: #fff;
          margin-bottom: 10px;
          font-size: 35px;
        }
        .contact-desc {
          color: #fff;
          margin-bottom: 0px;
          font-size: 18px;
        }
        .contact-input {
          border: none;
          background: transparent;
          border-bottom: 1px solid white;
          width: 90%;
          margin: 20px 0px;
          color: #fff;
          padding: 10px 20px;
          &:focus {
            outline: none;
          }
        }
        .contact-input.text-area {
          height: 160px;
          resize: none;
        }
        .cont-btn {
          display: block;
          width: 200px;
          padding: 12px 24px;
          text-align: center;
        }
      }
    }
  }
  
  @media only screen and (max-width: 768px) {
    .contact-us {
      flex-direction: column;
      .contact-left {
        left: 0;
        min-height: 580px;
        .content {
          color: #fff;
          .contact-heading {
            font-size: 30px;
          }
        }
      }
      .contact-right {
        min-height: 600px;
        .my-content {
          .contact-heading {
            font-size: 30px;
          }
        }
      }
    }
  }