.social {
    padding: 10px;
    padding-left: 0px;
    .social-icons {
      display: flex;
      align-items: center;
      gap: 20px;
      padding: 20px 0px;
      flex-wrap: wrap;
      .icon {
        .icondata {
          width: 25px;
          color: #fff;
        }
        p {
          color: #fff;
          font-weight: 400;
          font-size: 18px;
          margin-bottom: 0px;
          &:hover {
            background: -webkit-linear-gradient(99deg, #4158d0 70%, #c850c0 60%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
          }
        }
      }
    }
  }
  
  @media only screen and (max-width: 600px) {
    .footer {
      padding-left: 10px;
      padding-right: 10px;
      .social {
        .social-icons {
          flex-wrap: wrap;
        }
      }
    }
  }