// @import "../CommonCss.scss";
@import "../../app/commonCss.scss";

.hero-section {
  min-height: calc(85vh - 60px);
  background-color: $white;
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 25px;
  position: relative;
  .left-part {
    display: grid;
    align-items: center;
    padding: 20px;
    z-index: 10;
    .content {
      display: flex;
      justify-content: center;
      align-items: flex-start;
      flex-direction: column;
      font-family: "Raleway", sans-serif;
      .subject {
        font-size: 26px;
        font-weight: 600;
        line-height: 30px;
        margin-bottom: 0px;
        color: #1c1c1c;
      }
      .user-name {
        font-size: 35px;
        font-weight: 600;
        line-height: 60px;
        margin-bottom: 0px;
        background: $mainGradient;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        .sub-heading {
          font-size: 23px;
        }
      }
      .user-headline {
        color: gray;
        font-size: 18px;
      }
      .more-about-btn {
        padding: 15px 30px;
        background-color: rgb(15, 98, 254);
        color: $white;
        border-radius: 12px;
      }
    }
  }

  .right-part {
    @include all-center;
    z-index: 100;
    position: relative;
    .profile-box {
      height: 40vw;
      width: 40vw;
      position: relative;
      left: 30px;
      .profile-image {
        height: 30vw;
        width: 30vw;
        border-radius: 50%;
        overflow: hidden;
        border-radius: 50%;
        box-shadow: 0 0 30px #ebe6e6;
        img {
          height: 100%;
          width: 100%;
          object-fit: cover;
        }
      }
      .blob-image {
        bottom: 20px;
        z-index: 20;
        position: absolute;
        height: 100%;
        width: 100%;
        bottom: -75px;
      }
    }
  }
}

@media only screen and (max-width: 992px) {
  .hero-section {
    grid-template-columns: 1fr;
    gap: 20px;
  }
}

@media only screen and (max-width: 768px) {
  .hero-section {
    grid-template-columns: 1fr;
    gap: 20px;
    .right-part {
      .profile-box {
        height: 50vw;
        width: 50vw;
        position: relative;
        left: 30px;
        .profile-image {
          height: 50vw;
          width: 50vw;
          border-radius: 50%;
          overflow: hidden;
          border-radius: 50%;
          box-shadow: 0 0 30px #ebe6e6;
          img {
            height: 100%;
            width: 100%;
            object-fit: cover;
          }
        }
        .blob-image {
          bottom: 20px;
          z-index: 20;
          position: absolute;
          height: 100%;
          width: 100%;
          bottom: -20vw;
        }
      }
    }
  }
}

@media only screen and (max-width: 576px) {
  .hero-section {
    grid-template-columns: 1fr;
    padding-bottom: 30px;
    .left-part {
      padding: 0px;
      .content {
        .subject {
          font-size: 22px;
        }
        .user-name {
          font-size: 22px;
          line-height: 40px;
          .sub-heading {
            font-size: 18px;
          }
        }
        .user-headline {
          color: gray;
          font-size: 16px;
        }
      }
    }
  }
}