// @import "../CommonCss.scss";
@import "../../app/commonCss.scss";

.work-experience {
  padding: 30px 25px;
  position: relative;
  &::before {
    content: "";
    position: absolute;
    width: 1px;
    top: 0;
    height: 3%;
    left: 50%;
    background: linear-gradient(#00ccff, #d400d4);
    animation: animate 5s linear infinite;
  }
  &::after {
    content: "";
    position: absolute;
    inset: 4px;
    background: transparent;
    border-radius: 20px;
  }
  .experience-section {
    padding: 60px 0px;
    @include all-center;
    flex-direction: column;
    .letter-height {
      height: 250px;
      position: relative;
      width: 100%;
      .circle-experience {
        height: 20px;
        width: 20px;
        background: $mainGradient;
        border-radius: 50%;
        position: absolute;
        right: 0;
        left: 0;
        margin: auto;
        .connecting-line {
          height: 250px;
          width: 2px;
          position: absolute;
          background: $mainGradient;
          top: 18px;
          left: 50%;
        }
      }
    }
  }
}

@keyframes animate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media only screen and (max-width: 768px) {
  .work-experience {
    .experience-section {
      .letter-height {
        .circle-experience {
          .connecting-line {
            height: 250px;
            width: 2px;
            position: absolute;
            background: $mainGradient;
            top: 30px;
            left: 50%;
          }
        }
      }
    }
  }
}