// @import "../CommonCss.scss";
@import "../../app/commonCss.scss";

.skill-section {
  background-color: $white;
  position: relative;
  &::before {
    content: "";
    position: absolute;
    width: 1px;
    top: 0;
    height: 8%;
    left: 50%;
    background: linear-gradient(#00ccff, #d400d4);
    animation: animate 5s linear infinite;
  }
  &::after {
    content: "";
    position: absolute;
    inset: 4px;
    background: transparent;
    border-radius: 20px;
  }

  .skills-item {
    display: flex;
    flex-wrap: wrap;
    padding: 40px 25px;
    .ball-item {
      height: 130px;
      width: 130px;
      border-radius: 50%;
      padding: 30px;
      @include all-center;
      margin: auto;
      flex-direction: column;
      gap: 5px;
      i {
        font-size: 50px;
      }
      .js-icon {
        color: #dd9c24;
      }
      .html-icon {
        color: #dd4b25;
      }
      .css-icon {
        color: #1190cd;
      }
      .react-icon {
        color: #5ed3f3;
      }
      .bootstrap-icon {
        color: #7410f0;
      }
      .sass-icon {
        color: #c76494;
      }
      .skill-heading {
        font-size: 22px;
        font-weight: 600;
        background: -webkit-linear-gradient(105deg, #4158d0 41%, #c850c0 46%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }
    }
  }
}

@media only screen and (max-width: 576px){
  .skill-section{
    .skill-heading {
      font-size: 18px;
    }
  }
}

@keyframes animate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}