$white: #ffffff;
$black: #000000;
$mainGradient: -webkit-linear-gradient(105deg, #4158d0 44%, #c850c0 46%);



@mixin all-center{
    display: flex;
    justify-content: center;
    align-items: center;
}