@import "../../app/commonCss.scss";

.footer {
  display: grid;
  grid-template-columns: 2fr 1fr 2fr 3fr;
  padding-left: 35px;
  padding-right: 35px;

  .about {
    padding: 10px;
    .about-me {
      padding-right: 20px;
      text-align: justify;
      color: #1c1c1c;
    }
  }

  .links {
    padding: 10px;
    padding-left: 30px;
    .footer-link {
      display: flex;
      flex-direction: column;
      gap: 3px;
      .linkss {
        font-size: 18px;
        color: #1c1c1c;
        font-weight: 400;
        &:hover {
          text-decoration: none;
          background: -webkit-linear-gradient(99deg, #4158d0 70%, #c850c0 60%);
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
          font-weight: 600;
        }
      }
    }
  }

  .newsletter {
    padding: 10px;
    .email-us {
      padding: 20px 0px;
      .email-box {
        width: 100%;
        border: 1px solid gray;
        padding: 10px;
        margin-bottom: 20px;
        &:focus {
          outline: none;
        }
      }
    }
  }

  .social {
    padding: 10px;
    .social-icons {
      display: flex;
      align-items: center;
      gap: 20px;
      padding: 20px 0px;
      flex-wrap: wrap;
      .icon {
        .fa-linkedin-in {
          color: #0a66c2;
          width: 25px;
        }
        .fa-github {
          color: #1f2328;
          width: 25px;
        }
        .fa-instagram {
          color: #c850c0;
          width: 25px;
        }
        .fa-youtube {
          color: #ff0000;
          width: 25px;
        }
        p {
          color: #1c1c1c;
          font-weight: 400;
          font-size: 18px;
          margin-bottom: 0px;
          &:hover {
            background: -webkit-linear-gradient(
              99deg,
              #4158d0 70%,
              #c850c0 60%
            );
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 992px) {
  .footer {
    grid-template-columns: 1fr 1fr;
    gap: 30px;
    .links {
      padding-left: 10px;
    }
  }
}

@media only screen and (max-width: 768px) {
  .footer {
    grid-template-columns: 1fr;
    gap: 0px;
  }
}

@media only screen and (max-width: 600px) {
  .footer {
    padding-left: 10px;
    padding-right: 10px;
    .social {
      .social-icons {
        flex-wrap: wrap;
      }
    }
  }
}